{% extends "exchange/layout.html" %}
{% load static %}

{% block body %}
<div style="height:880px; padding-top:40px" class="bg-dark text-white">

<div class="container">

<div id="balance-view">

    <div style="color: #f0ad4e;" class="row">
        <div class="col-sm-4">
            <h3>BUSD: $ {{ busd }}</h3>
        </div>
        <div class="col-sm-4">
            <h3>Decentra: $ {{ spot }}</h3>
        </div>
        <div class="col-sm-4">
            <h3>Total: $ {{ total }}</h3>
        </div>
    </div><br>
    
    <button id="load-btn" class="btn btn-block btn-outline-warning" value="{{ user.username }}">Load BUSD</button><br><br><br>

<div style="font-size:20px;" class="table-responsive">
    <table class="table table-dark table-hover">
        <thead style="color: #f0ad4e;">
            <tr>
                <th scope="col">Coin</th>
                <th scope="col">Balance</th>
                <th scope="col">USD Value</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>BTC</td>
                <td>{{ balance.btc }}</td>
                <td>{{ value.btc }}</td>
                <td><a href="{% url 'trade' 'btc' %}" class="btn btn-sm btn-outline-warning">Trade</a></td>
            </tr>
            <tr>
                <td>ETH</td>
                <td>{{ balance.eth }}</td>
                <td>{{ value.eth }}</td>
                <td><a href="{% url 'trade' 'eth' %}" class="btn btn-sm btn-outline-warning">Trade</a></td>
            </tr>
            <tr>
                <td>ADA</td>
                <td>{{ balance.ada }}</td>
                <td>{{ value.ada }}</td>
                <td><a href="{% url 'trade' 'ada' %}" class="btn btn-sm btn-outline-warning">Trade</a></td>
            </tr>
            <tr>
                <td>BNB</td>
                <td>{{ balance.bnb }}</td>
                <td>{{ value.bnb }}</td>
                <td><a href="{% url 'trade' 'bnb' %}" class="btn btn-sm btn-outline-warning">Trade</a></td>
            </tr>
            <tr>
                <td>SOL</td>
                <td>{{ balance.sol }}</td>
                <td>{{ value.sol }}</td>
                <td><a href="{% url 'trade' 'sol' %}" class="btn btn-sm btn-outline-warning">Trade</a></td>
            </tr>
            <tr>
                <td>XRP</td>
                <td>{{ balance.xrp }}</td>
                <td>{{ value.xrp }}</td>
                <td><a href="{% url 'trade' 'xrp' %}" class="btn btn-sm btn-outline-warning">Trade</a></td>
            </tr>
            <tr>
                <td>DOT</td>
                <td>{{ balance.dot }}</td>
                <td>{{ value.dot }}</td>
                <td><a href="{% url 'trade' 'dot' %}" class="btn btn-sm btn-outline-warning">Trade</a></td>
            </tr>
            <tr>
                <td>UNI</td>
                <td>{{ balance.uni }}</td>
                <td>{{ value.uni }}</td>
                <td><a href="{% url 'trade' 'uni' %}" class="btn btn-sm btn-outline-warning">Trade</a></td>
            </tr>
            <tr>
                <td>LTC</td>
                <td>{{ balance.ltc }}</td>
                <td>{{ value.ltc }}</td>
                <td><a href="{% url 'trade' 'ltc' %}" class="btn btn-sm btn-outline-warning">Trade</a></td>
            </tr>
        </tbody>
    </table>
</div>
</div>






<div style="padding-top:180px" id="add-view">
        <form id="load-submit">
            <div class="form-group col-sm-4 offset-sm-4">
                <h2 style="color: #f0ad4e;">Load BUSD</h2>
                <p>BUSD is a stable coin. 1 BUSD = 1 USD</p>
                <input autofocus id="add-amount" class="form-control" type="text" name="amount" placeholder="USD amount">
            </div>
            <div class="form-group col-sm-4 offset-sm-4">
                <input id="card_number" class="form-control" type="text" name="card_number" placeholder="Card Number">
            </div>
            <div class="form-group col-sm-4 offset-sm-4">
                <input class="btn btn-warning btn-block" type="submit" value="Load"><br>
            </div>
        </form>
</div>
</div>
{% endblock %}




{% block script %}
    <script src="{% static 'exchange/add.js' %}"></script>
{% endblock %}
