{% extends "exchange/layout.html" %}
{% load static %}

{% block body %}
<div style="height:1000px; padding-top:40px" class="bg-dark text-white">
<div class="container">


<h2 style="color: #f0ad4e;">Buy Orders</h2><br>
<div style="font-size:20px;" class="table-responsive">
    <table class="table table-dark table-hover">
        <thead style="color: #f0ad4e;">
            <tr>
                <th scope="col">Coin</th>
                <th scope="col">Asset Amount</th>
                <th scope="col">BUSD</th>
                <th scope="col">Date and Time</th>
            </tr>
        </thead>
    
        <tbody>
            {% for n in buy_orders %}
            <tr>
                <td>{{ n.asset.upper }}</td>
                <td>{{ n.asset_amount }}</td>
                <td>{{ n.busd_amount }}</td>
                <td>{{ n.time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div><br><br><br><br>

<h2 style="color: #f0ad4e;">Sell Orders</h2><br>
<div style="font-size:20px;" class="table-responsive">
    <table class="table table-dark table-hover">
        <thead style="color: #f0ad4e;">
            <tr>
                <th scope="col">To</th>
                <th scope="col">Coin</th>
                <th scope="col">Amount</th>
                <th scope="col">Date and Time</th>
            </tr>
        </thead>

        <tbody>
            {% for m in sell_orders %}
            <tr>
                <td>{{ m.asset.upper }}</td>
                <td>{{ m.asset_amount }}</td>
                <td>{{ m.busd_amount }}</td>
                <td>{{ m.time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>





</div>
</div>
{% endblock %}




{% block script %}
    <script src="{% static 'exchange/app.js' %}"></script>
{% endblock %}
