{% extends "exchange/layout.html" %}
{% load static %}

{% block body %}


<div style="height:1000px; padding-top:40px" class="bg-dark text-white">
<div class="container">

<div style="padding-top:100px">


    <form method="post" action="{% url 'trade' asset %}">
    {% csrf_token %}

        <div class="form-group col-sm-4 offset-sm-4">
            <h2 style="color: #f0ad4e;">Trade {{ asset.upper }} / BUSD</h2>
            {% if message %}
            <div>
            {{ message }}
            </div>
            {% endif %}
        </div>
        
        <div class="form-group col-sm-4 offset-sm-4">
            <input autofocus class="form-control" type="text" name="amount" placeholder="amount">
        </div>

        <div class="form-group col-sm-4 offset-sm-4">
            <div class="row">
                <div class="col-sm-6">
                    <input class="btn btn-warning btn-block" type="submit" name="buy" value="Buy">
                </div>
                <div class="col-sm-6">
                    <input class="btn btn-warning btn-block" type="submit" name="sell" value="Sell">
                </div>
            </div>
        </div>
    </form>
</div>


</div>
</div>
{% endblock %}