{% extends "exchange/layout.html" %}
{% load static %}

{% block body %}
<div style="height:1000px; padding-top:40px" class="bg-dark text-white">
<div class="container">


<h2 style="color: #f0ad4e;">Received</h2><br>
<div style="font-size:20px;" class="table-responsive">
    <table class="table table-dark table-hover">
        <thead style="color: #f0ad4e;">
            <tr>
                <th scope="col">From</th>
                <th scope="col">Coin</th>
                <th scope="col">Amount</th>
                <th scope="col">Time</th>
            </tr>
        </thead>
    
        <tbody>
            {% for n in received_list %}
            <tr>
                <td>{{ n.user }}</td>
                <td>{{ n.asset }}</td>
                <td>{{ n.amount }}</td>
                <td>{{ n.time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div><br><br><hr><br><br>

<h2 style="color: #f0ad4e;">Sent</h2><br>
<div style="font-size:20px;" class="table-responsive">
    <table class="table table-dark table-hover">
        <thead style="color: #f0ad4e;">
            <tr>
                <th scope="col">To</th>
                <th scope="col">Coin</th>
                <th scope="col">Amount</th>
                <th scope="col">Time</th>
            </tr>
        </thead>

        <tbody>
            {% for m in sent_list %}
            <tr>
                <td>{{ m.recipient }}</td>
                <td>{{ m.asset }}</td>
                <td>{{ m.amount }}</td>
                <td>{{ m.time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>





</div>
</div>
{% endblock %}




{% block script %}
    <script src="{% static 'exchange/app.js' %}"></script>
{% endblock %}
